<div class="discount-start">
  <br>
</div>

<div class="btn-group discounts-group" role="group">
    <button type="button" ng-repeat="service in services" class="btn btn-primary btn-lg" ng-click="serviceSelection(service)">{{service.name}}</button>
</div>

<br>

<div class="discount-listing text-center">
  <button type="button" ng-repeat="discount in discounts" class="discount-button btn btn-primary text-center" ng-disabled="{{discount.abbr + 'ShowDiscounts'}}" ng-click="discountFunction(discount)">{{discount.name}}</button>
</div>
