<h3 style="color:green">** Start discounts HTML **</h3>
<div class="discounts-list" ng-repeat="discount in discounts">
  <p ng-click="discountFunction(discount)">{{discount.name}}</p>
</div>
<!-- <div class="discounts-list">
  <ul>
    <li ng-repeat="service in services">
      <span>{{service.name}}</span>
      <div class="package" ng-repeat="package in service.packages">
        <p >{{package.name}}</p>
      </div>
    </li>
  </ul>
</div> -->
<h3 style="color:blue">** End discounts HTML **</h3>
