<div class="">
  <p>Monthly Price: {{homeBaseAmount - discountAmountMonthly + costOfAdditionalTvs * (numberOfTvSlider.value - 1)}}</p>
  <p>Number of TV's: {{numberOfTvSlider.value}}</p>
  <p>Cost of TV's: {{costOfAdditionalTvs * (numberOfTvSlider.value - 1)}}</p>
</div>

<div class="btn-group discounts-group" role="group">
    <button type="button" ng-repeat="service in services" class="btn btn-primary btn-lg" ng-click="serviceSelection(service); packageSelection(service)">{{service.name}}</button>
</div>
<div class="discount-listing text-center" role="group">
  <button type="button" ng-repeat="package in packagesAvailable" class="discount-button btn btn-primary text-center {{packageQuantity}}" ng-click="packagePricingFunction(package)">{{package.name}}</button>
</div>
<br>
<rzslider rz-slider-model="numberOfTvSlider.value" rz-slider-options="numberOfTvSlider.options"></rzslider>
<br>
