<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <form>

    <div class="group">
      <input type="number" ng-model="currentPhone">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Current Monthly Wireless Cost</label>
    </div>

    <div class="group">
      <input type="number" ng-model="currentHome">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Current Monthly Home Services Cost</label>
    </div>

    <div class="group">
      <input type="number" ng-model="newPhone">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>New Monthly Wireless Cost</label>
    </div>

    <div class="group">
      <input type="number" ng-model="newHome">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>New Monthly Home Services Cost</label>
    </div>

  </form>
</div>
